; EditorConfig for cplr
;
; This improves collaboration by configuring editors better.
; See https://editorconfig.org for further information.
;

root = true

[*]
indent_style = space
indent_size = 2
tab_width = 8
end_of_line = lf
max_line_length = 80
insert_final_newline = true

[{*.sh,test*,compile}]
indent_style = spaces
indent_size = 4
