[submodule "deps/tinycc"]
	path = deps/tinycc
	url = https://github.com/promovicz/tinycc.git
	branch = promovicz/mob
[submodule "deps/bdwgc"]
	path = deps/bdwgc
	url = https://github.com/ivmai/bdwgc.git
